body  {
  background-image: url("https://i.pinimg.com/originals/c9/05/29/c90529ada0eb274ddaa74259b198f500.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
table{
  color: rgb(255, 255, 245) !important;
}